@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <img src="/images/university_photo.jpg" class="home-header-img"/>
    <h1>Sheltry University</h1>
</div>
<div class="row">
    <div class="">
        <h2>Welcome to Sheltry University</h2>
        <p>
            Sheltry University application managing enrollment,
            courses, instructors and students.
        </p>
    </div>
</div>