html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background:var(--primary-color);
  color:white;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.movie-image {
    width: fit-content;
    border: solid 1px white;
    box-shadow: 0px 1px 8px white;
    margin-bottom:1em;
}

.movies-table * td{
    background:var(--highlight-color);
    color:white;
}

.movies-table * th {
    background: var(--secondary-color);
    color: white;
}

.movies-table * .btn {
    background: var(--primary-color);
    border-color:var(--third-color);
}

.movies-table * .btn:hover {
    background: var(--secondary-color);
    border-color: var(--third-color);
}

.text-danger * {
    color: rgb(255, 200, 180);
    font-weight:bold;
}

footer {
    background:white;
}
